.route-button {
    font-weight: 500;
    color: #646cff;
    background-color: white; /* Button background color */
    padding: 0px 20px 5px 20px; /* Adjusted padding for top/bottom and left/right */
    border: 2px solid #646cff; /* Border with specified color */
    border-radius: 5px; /* Rounded corners */
    text-decoration: none; /* Remove underlines (if the button is a link) */
    display: inline-block; /* Display as inline-block to adjust width */
    cursor: pointer; /* Change cursor to pointer on hover */
    width: 150px;
    height: 50px;
    text-align: center; /* Center-align text within the button */
    margin-left: 500px; 
    margin-bottom: 10px;
  }
  
  /* Hover effect */
  .route-button:hover {
    background-color: #646cff; /* Change background color on hover */
    color: #fff; /* Change text color on hover */
  }  