/* RouteContainer.css */

.route-container {
    display: flex;
    flex-direction: column;
    gap: 5vh;
}

.route-list {
    padding: 10px;
    border-right: 1px solid #ccc;
}

.map {
    width: 30vw;
    flex: 1; /* Takes up remaining vertical space */
    padding: 10px;
}

.selected-route-list {
    padding: 10px;
    grid-column: auto;
}

.route-map {
    display: flex;
    flex-direction: row;
}

/* Button container to hold both buttons */
.button-container {
    display: flex;
    gap: 10px; /* Adjust the gap between buttons */
}

.edit-order-button,
.generate-button {
    font-weight: 500;
    color: #646cff;
    background-color: #403e3e; /* Button background color */
    padding: 5px 20px; /* Adjusted padding for top/bottom and left/right */
    border: 2px solid #646cff; /* Border with specified color */
    border-radius: 5px; /* Rounded corners */
    text-decoration: none; /* Remove underlines (if the button is a link) */
    display: inline-block; /* Display as inline-block to adjust width */
    cursor: pointer; /* Change cursor to pointer on hover */
    text-align: center; /* Center-align text within the button */
    height: 75px;
    margin-left: 10px;
}

/* Hover effect */
.edit-order-button:hover,
.generate-button:hover {
    background-color: #646cff; /* Change background color on hover */
    color: #fff; /* Change text color on hover */
}