#route {
  display: flex;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

#route p {
  margin: 0;
  padding-right: 10px;
  font-size: larger;
}

.stop-button{

    color: aqua;

}

table,
td {
    border: 1px solid #333;
}

thead,
tfoot {
    background-color: #333;
    color: #fff;
}

