#route {
  display: flex;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

#route p {
  margin: 0;
  padding-right: 10px;
  font-size: larger;
}

/* Style the table */
table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;/* Set black background */
  border: 1px solid #ffffff; /* Add border around the table */
}

/* Style table cells */
td,
th {
  padding: 10px;
  text-align: left;
  border: 1px solid #ffffff; /* Add border to cells */
  color: #00FFFF; /* Set text color to aqua */
}

/* Style table header and footer */
thead {
  background-color: #388;
}

tfoot {
  background-color: #333;
  color: #fff;
  font-weight: bold;
}

/* Add hover effect on table rows */
tr:hover {
  background-color: #111; /* Darker black for hover effect */
}